<!DOCTYPE html>
<html>

<head>
    <title>
        Travelog Project
    </title>
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->
    <!-- <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/newplacestyle.css">
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->
</head>

<body style="background-color:#EEEEEE">
    <nav class="navbar navbar-expand-lg navbar-dark navbarstyle">
        <!-- <nav class="navbar navbar-dark bg-company-blue"> -->
        <!-- <div class="container-fluid"> -->
        <!-- <div class="nav-header"></div> -->
        <a class="navbar-brand" href="/">
            <img class="d-inline-block align-top" src="https://personal-travelog.herokuapp.com/images/travelog-logo-white.svg"></a>


        <p class="user" style="margin-left: 70%;;margin-right:20px;">Hi,
            <%=currentUser.username%>
        </p>
        <div style="" class="smallvertical-line"></div>
        <p><a style="color:white;padding:20px;" href="/logout">Logout</a></p>

    </nav>